// Color Variables
$primary-color: #3d6300;
$secondary-color: #02320a;
$text-color: #5c5c77;
$text-color-light: #8585a4;
$text-color-dark: #02320a;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f3f0e9;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$icon-font: 'themify';